$bg-main: #c2c22c;
$bg-gray: rgba(0, 0, 0, 0.8);
$color-main: #d34b34;

$main-font: 'OpenSans', Arial, sans-serif;
$main-font-semibold: 'OpenSans_SemiBold', sans-serif;
$main-font-light: 'OpenSans_Light', sans-serif;
$main-font-bold: 'OpenSans_Bold', sans-serif;
$main-font-italic: 'OpenSans_Italic', sans-serif;